*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

/*main{

}*/

header{
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
    display: flex;
    background-color: rgba(50, 50, 150);
}

header img{
    width: 15%;
    height: 150px;
}

.barra{
    display: grid;
    width: 90%;
    align-items: center;
}

header nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*gap: 5px;*/
    height: 100%;
}

header nav ul li{
    display: grid;
}

a{
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 300ms;
}

a:hover{
    background-color: aquamarine;
    height: 110%;
    
}

