#barraNav{
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 15%;
    display: flex;
    
}

/*header img{
    width: 15%;
    height: 150px;
}*/

.barra{
    display: flex;
    /* width: 90%; */
    align-items: center;
}

#logo-container{
    display: flex;
}

header nav ul{
    list-style: none;
    display: flex;
    grid-template-columns: 1fr;
    /*gap: 5px;*/
    height: 100%;
}

header nav ul li{
    display: flex;
    width: 100%;
}

a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 300ms;
}

a:hover{
    
    height: 110%;
    box-shadow:  0 0 10px;
    
}

a div{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.active{
    background-color: blueviolet;
}

#inicio span{
    position: absolute;
}

#logo-container{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

#logo{
    height: 100%;
    width: 100%;
}

li img{
    width: 110%;
    /*height: 110%;*/
    position: relative;
    opacity: 0.5;
}


li span{
    position: absolute;
}

#inicio{
    /* background-size: 110% 110%;
    background-position: center; */
    /* background-image: url(https://concepto.de/wp-content/uploads/2013/08/matematicas-e1551990322160-800x399.jpg); */
}

#polinomios{
    /* background-size: 110% 110%;
    background-position: center;
    background-image: url(https://totumat.files.wordpress.com/2019/11/1-15-polinomios.png?w=810); */
}

#ecuaciones{
    /* background-size: 110% 110%;
    background-position: center;
    background-image: url(https://totumat.files.wordpress.com/2019/11/1-12-ecuaciones-lineales.png?w=810); */
}

#radicales{
    /* background-size: 110% 110%;
    background-position: center;
    background-image: url(https://totumat.com/wp-content/uploads/2020/05/0-13-radicales.png?w=810); */
}

/*@media (orientation: portrait) and (max-width: 600px){
    .barra ul{
        display: flex;
        flex-direction: column;
    }

    .barra ul li{
        height: 100%;
    }

    header img{
        width: 30%;
    }




}*/