@font-face {
  font-family: "Crayon";
  src: url("../fonts/Colored\ Crayons.ttf");
}

@font-face {
  font-family: "Fortnite";
  src: url("../fonts/Burbank\ Big\ Condensed\ Black.ttf");
}

*{
    margin: 0 0;
  padding: 0 0;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;  
}

#ecuaciones{
  height: 110%;
  box-shadow:  0 0 10px;
}

#img_fondo{
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  z-index: 1;
}

.principal{
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

article{
	display: flex;
	flex-direction: column;
	margin: 5% 2% 2% 2%;
	padding-bottom: 2%;
}

h1{
  font-family: "Crayon";
  font-size: 3rem;
  text-align: center;
  color: darkorange;
  letter-spacing: 3px;
  margin-bottom: 2%;
  text-shadow: -3px 6px 6px black;
}

h2{
  font-family: "Fortnite";
	margin-top: 2%;
}

#ejercicios{
	display: flex;
  align-items: center;
  margin: 2%;
	font-family: math;
  font-size: 1.5rem;
  gap: 1vh;
}

/*.lateral{
  text-align: center;
}*/

.lateral input{
	width: 3rem;
	font-size: 75%;
	text-align: center;
}

/*@media (orientation: portrait) and (max-width: 600px){
  html, body{
      max-width: 100%;
      max-height: 100%;
      margin: 0;
  
  }
  
  header{
      max-width: 100%;
  }
  h1{
      text-align: center;
      margin: 1.5rem 0 1.5rem 0;
  }
  
  article{
      max-width: 100%;
      max-height: 100%;
  }
  


}*/