*{
    margin: 0 0;
  padding: 0 0;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  
}

#img_fondo{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
}

main{
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}


header{
  width: 100%;
}

h1{
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
}


article{
  padding-left: 4vh;
}
h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ecuaciones{
  background-color: aquamarine;
  height: 110%;
  box-shadow:  0 0 10px;
}

/*@media (orientation: portrait) and (max-width: 600px){
  html, body{
      max-width: 100%;
      max-height: 100%;
      margin: 0;
  
  }
  
  header{
      max-width: 100%;
  }
  h1{
      text-align: center;
      margin: 1.5rem 0 1.5rem 0;
  }
  
  article{
      max-width: 100%;
      max-height: 100%;
  }
  


}*/