@font-face {
    font-family: "Desappear";
    src: url("../fonts/Nightmare\ Codehack.otf");
}

@font-face {
    font-family: "Fortnite";
    src: url("../fonts/Burbank\ Big\ Condensed\ Black.ttf");
}

@font-face {
    font-family: "Butler";
    src: url("../fonts/Butler_Ultra_Light.otf");
}

@font-face {
    font-family: "Royaltea";
    src: url("../fonts/Royaltea.ttf");
}

@font-face {
    font-family: "Crayon";
    src: url("../fonts/Colored\ Crayons.ttf");
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    
}

#img_fondo{
    position: fixed;
    z-index: 2;
    opacity: 0.04;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.principal{
    visibility: hidden;
    display: flex;
    height: 100%;
    flex-direction: column;
    /*position: absolute;
    z-index: 1;*/
}

#inicio{
    height: 110%;
    box-shadow:  0 0 10px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: auto;
    padding: 2%;
}

h1{
    font-family: "Crayon";
    font-size: 3rem;
    color: forestgreen;
    letter-spacing: 3px;
    text-shadow: -3px 6px 6px black;
}

p{
    /*font-family: "Royaltea";*/
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.bold{
    font-weight: 900;
    font-style: italic;
}