*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

#img_fondo{
    position:absolute;
    z-index: 2;
    opacity: 0.1;
    width: 100%;
    height: 100%;
}

.principal{
    display: flex;
    height: 100%;
    flex-direction: column;
    /*position: absolute;
    z-index: 1;*/
}

#inicio{
    background-color: aquamarine;
    height: 110%;
    box-shadow:  0 0 10px;
    background-size: 100% 100%;
    background-image: url(../images/inicio.jpg);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: auto;
    padding: 2%;
    gap: 10%;
}
