@font-face {
    font-family: "Desappear";
    src: url("../fonts/Nightmare\ Codehack.otf");
}

@font-face {
    font-family: "Fortnite";
    src: url("../fonts/Burbank\ Big\ Condensed\ Black.ttf");
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

#img_fondo{
    position: fixed;
    z-index: 2;
    opacity: 0.04;
    width: 100%;
    height: 100%;
}

.principal{
    display: flex;
    height: 100%;
    flex-direction: column;
    /*position: absolute;
    z-index: 1;*/
}

#inicio{
    background-color: aquamarine;
    height: 110%;
    box-shadow:  0 0 10px;
    background-size: 100% 100%;
    background-image: url(../images/inicio.jpg);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: auto;
    padding: 2%;
}

h1{
    font-family: "Desappear";
    font-size: 3rem;
    color: darkorange;
    letter-spacing: 3px;
}

p{
    font-family: "Fortnite";
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}