@font-face {
	font-family: "Crayon";
	src: url("../fonts/Colored\ Crayons.ttf");
  }

@font-face {
    font-family: "Fortnite";
    src: url("../fonts/Burbank\ Big\ Condensed\ Black.ttf");
}

*{
	margin: 0 0;
  	padding: 0 0;
}

html, body{
	width: 100%;
	height: 100%;
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

#img_fondo{
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.04;
	z-index: 1;
}

.principal{
	visibility: hidden;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

article{
	display: flex;
	flex-direction: column;
	margin: 5% 2% 2% 2%;
	padding-bottom: 2%;
}

h1{
	font-family: "Crayon";
	font-size: 3rem;
	text-align: center;
	color: #ff8c00;
	letter-spacing: 3px;
	margin-bottom: 2%;
	text-shadow: -3px 6px 6px black;
  }

h2{
	font-family: "Fortnite";
	margin-top: 2%;
}

#polinomios{
	height: 110%;
	box-shadow:  0 0 10px;
}

.ejercicios{
	display: flex;
  	align-items: center;
  	margin: 2%;
	font-family: math;
  	font-size: 1.5rem;
  	gap: 1vh;
}

ol{
	list-style: lower-alpha;
	max-width: 75vh;
	padding-left: 4vh;
}

article li{
	
	margin-bottom: 0.5vh;
	/*max-width: 25rem;*/
	
}

.contenedorPoli{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	gap: 10px;
}

.poli{
	display: inline;
	width: 100%;
}

.lateral{	
	display: flex;
	align-items: center;
	gap: 1%;
}

.lateral input{
	width: 2rem;
	font-size: 75%;
	text-align: center;
}

/* @media (orientation: portrait) and (max-width: 600px){
	
	ol{
		
		
		max-width: 100%;
		
		list-style-type:decimal;
		
	}
	
	article li{
		
		margin-bottom: 0.5vh;
		
		
	}
	
	.contenedorPoli{
		max-width: 100%;
		
		display: grid;
		
		gap: 2px;
	}
	
	.poli{
		display: inline;
		width: 100%;
	}
	
	.lateral{	
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		text-align: start;
		font-size: 80%;
	}
	
	.lateral input{
		width: 8%;
		font-size: 80%;
	}
}

@media (orientation: landscape) {
	
	ol{
		
		
		max-width: 75vh;
		
		list-style-type:decimal;
		padding-left: 4vh;
	}
	
	article li{
		
		margin-bottom: 0.5vh;
		
		
	}
	
	.contenedorPoli{
		max-width: 100%;
		
		display: grid;
		
		gap: 2px;
	}
	
	.poli{
		display: inline;
		width: 100%;
	}
	
	.lateral{	
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		text-align: start;
		
	}
	
	.lateral input{
		width: 8%;
		font-size: 80%;
	}
}

@media (orientation: portrait) and (max-width: 600px){
  html, body{
	  max-width: 100%;
	  max-height: 100%;
	  margin: 0;
  
  }
  
  header{
	  max-width: 100%;
  }
  h1{
	  text-align: center;
	  margin: 1.5rem 0 1.5rem 0;
  }
  
  article{
	  max-width: 100%;
	  max-height: 100%;
  }
  


} */