*{
    margin: 0 0;
  padding: 0 0;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  
}

#img_fondo{
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
}

main{
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

#radicales{
  background-color: aquamarine;
  height: 110%;
  box-shadow:  0 0 10px;
}

article{
  display: flex;
  flex-direction: column;
  margin: 5% 2% 2% 2%;
  gap: 1%;
}

h1{
  margin-bottom: 5%;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#enteros{
  display: flex;
  align-items: center;
  margin: 2%;
  font-size: 5vh;
  gap: 1vh;
}

math{
  display: flex;
}

#lateral{
  display: flex;
  align-items: center;
  gap: 1vh;
}

input{
  width: 5vh;
  height: 3vh;
  font-size: 75%;
  text-align: center;
}

/*@media (orientation: portrait) and (max-width: 600px){
  html, body{
      max-width: 100%;
      max-height: 100%;
      margin: 0;
  
  }
  
  header{
      max-width: 100%;
  }
  h1{
      text-align: center;
      margin: 1.5rem 0 1.5rem 0;
  }
  
  article{
      max-width: 100%;
      max-height: 100%;
  }
  


}*/